:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(204,255,235);
  background: linear-gradient(129deg, rgba(204,255,235,1) 0%, rgba(217,249,255,1) 53%, rgba(255,230,241,1) 100%);
  overflow: hidden;
}

